
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
native
assets/scene.scene
assets/prefabs/Arrower.prefab
assets/prefabs/MoonWell.prefab
assets/prefabs/WarAncientTree.prefab
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

*meta
scene.scene
*.prefab
